<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>SocialMedia App</h2>
      </div>
      <ul class="nav navbar-nav" style="padding-left: 400px;">
        <li>
          <%= render "/dashboard/search" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <h4><%= current_user.username%></h4>
          <button><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row" style="background-color: lightblue">
    <h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <%= form_for(edit_user_registration_path, method: :get) do |form| %>
      <div class="form-group">
        <%= form.label :caption,"Profile Photo"%>
        <%= form.file_field :file%>
        <%= form.submit "Post"%>
      </div>
    <% end %>
  </div>
  <br>
  <div class="row" style="background-color: lightgreen">
    <br>
    <div class = "col-sm-3">
      <h1>My Friends</h1>
    </div>
    <div class="col-sm-9">
      <%= render '/posts/form', post: @post %>
      <br>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-4" id="friendslist">
      <% @friends.each do |friend| %>
        <%= render "/friendships/friends", friend: friend%>
      <% end %>
    </div>
    <div class="col-sm-8" id="displaypost">
      <% @posts.each do |post| %>
        <%= render '/posts/post', post: post %>
      <% end %>
    </div>
  </div>
</div>
