<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :username,autofocus: true,placeholder: "username..." %>
  </div>
  <br />
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email..." %>
  </div>
  <br />
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "password..." %>
  </div>
  <br />
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "re-enter password..." %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :first_name,autofocus: true, placeholder: "first name..." %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :last_name,autofocus: true, placeholder: "last name..." %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :age,autofocus: true,placeholder: "age..." %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :city,autofocus: true,placeholder: "city..." %>
  </div>
  <br />
  <div class="actions" style="margin-left: auto;">
    <%= f.submit "Sign up" %> <br />
  </div>
<% end %>

<%= render "devise/shared/links" %>
