<div id="comment<%= comment.id%>">
  <ul class="list-inline">
    <li>
      <h4 style="color: black">
        <%= comment.comment %>
      </h4>
    </li>

    <li>
      <% if comment.likes.where(user_id: current_user.id).exists? %>
        <% @like = comment.likes.where(user_id: current_user.id) %>
        <li id="comment-<%= comment.id %>-like">
        <%= link_to 'Unlike',comment_like_path(comment,@like.ids),data: {toggle:"popover",placement:"top",
        trigger:'hover',content: comment.likes.collect(&:username) }, method: :delete,remote: true%>
        <i class="fa fa-thumbs-o-up"></i>
        </li>

      <% else %>
        <li id="comment-<%= comment.id %>-like">
          <%= link_to 'Like', comment_likes_path(comment),data: {toggle:"popover",placement:"top",
          trigger:'hover',content: comment.likes.collect(&:username) }, method: :post,remote: true%>
          <i class="fa fa-thumbs-o-up"></i>
        </li>
      <% end %>
    </li>

    <li>
      <%=link_to"Delete",post_comment_path(post,comment),method: :delete,remote: true %>
      <i class="fa fa-remove"></i>
    </li>
  </ul>
</div>
<br> 