<%= form_with scope: :comment,url: post_comments_path(post), method: :post,remote: true do |form| %>
  <div class="actions">
    <%= form.text_field :comment,id: 'commenttextfield',placeholder: "Write Comment..",required: true%> 
  </div>
<% end %>