<header class="header black-bg">
  <a href="index.html" class="logo"><b>SOCIAL<span>APP</span></b></a>
    <form style="float:left;display:inline-block;line-height:52px;margin-left:100px;">
      <input type="text" name="searchbar" placeholder="Search friends..." size="35">
    </form>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><%= link_to "Log out",destroy_user_session_path,method: :delete,class: 'logout'%></li>
    </ul>
  </div>
</header>