<aside>
  <div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="#"><img src="/assets/download.png" class="img-circle" width="120"></a></p>
      <h5 class="centered">Hello Indore</h5>
      <li class="mt">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="mt">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Timeline</span>
        </a>
      </li>
      <li class="mt">
        <a href="#">
          <i class="fa-picture-o"></i>
          <span>Photos</span>
        </a>
      </li>
      <li class="mt">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Friends</span>
        </a>
      </li>
      <li class="mt">
        <a href="#">
          <i class="fa fa-gear"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside>