<ul class="list-inline">
  <% if post.likes.where(user_id: current_user.id).exists? %>
    <% @like = post.likes.where(user_id: current_user.id) %>

    <li id="post-<%= post.id %>-like">
    <%= link_to 'Unlike', post_like_path(post,@like.ids), data: {toggle:"popover",placement:"top",
    trigger:'hover',content: post.likes.collect(&:username) }, method: :delete, remote: true %>
    <i class="fa fa-thumbs-up"></i>
    </li>    
  <% else %>   
    <li id="post-<%= post.id %>-like">
    <%= link_to 'Like', post_likes_path(post),data: {toggle:"popover",placement:"top",
    trigger:'hover',content: post.likes.collect(&:username) }, method: :post,remote: true%>
    <i class="fa fa-thumbs-o-up"></i>
    </li>
  <% end %>

  <li>
    <a data-toggle="collapse"href="#comment_<%=post.id%>">Comments</a><i class="fa fa-comments-o"></i>
  </li>
  
  <li><%= link_to'Delete Post',post,method: :delete,data:{ confirm:'Are you sure?'},remote: true%>
    <i class="fa fa-remove"></i>
  </li>
</ul>