<% if params[:post_id] %>
  $("#post-<%= @post.id %>-like  a").text("Unlike");
  $("#post-<%= @post.id %>-like i").fadeIn(10,function(){
    $(this).removeClass("fa fa-thumbs-o-up").addClass("fa fa-thumbs-up");
}) ;

<% else %>
  $("#comment-<%= @comment.id%>-like a").text("Unlike");
  $("#comment-<%= @comment.id%>-like i").fadeIn(10,function(){
    $(this).removeClass("fa fa-thumbs-o-up").addClass("fa fa-thumbs-up");
}) ;
<% end %>