<% if params[:post_id] %>
  $("#post-<%= @post.id %>-like a").text("Like") ;
  $("#post-<%= @post.id %>-like i").fadeIn(10,function(){
    $(this).removeClass("fa fa-thumbs-up").addClass("fa fa-thumbs-o-up");
  });
<% else %>
  $("#comment-<%= @comment.id%>-like a").text("Like");
  $("#comment-<%= @comment.id %>-like i").fadeIn(10,function() {
    $(this).removeClass("fa fa-thumbs-o-up").addClass("fa fa-thumbs-up");
  });
<% end %>
