<p id="notice"><%= notice %></p>

<h1>Likes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @like.each do |like| %>
      <tr>
        <td><%= like.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'Home Page',dashboard_index_path %></button>