<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SocialMedia Demo</title>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/form-elements.css">
      <link rel="stylesheet" href="assets/css/style.css">
      <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <div class="form-box">
            <form role="form" action="/users/sign_in" method="post" class="login-form">
              <input type="hidden" name="authenticity_token"value="create_post_action_token">
              <div class="form-inline">
                <%= render template: "devise/sessions/new" %>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-5">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <p>Don't have an account ? <strong>Register here</strong></p>
              </div>
            </div>
          </div>
          <div class="form-bottom">
            <%= render template: "devise/registrations/new" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>