<div class ="panel panel-info" id="friendslist">
  <div class="panel-heading">
    <div class="container-fluid row">
      <div class="col-sm-6">
        <%= friend.friend.first_name %> <%= friend.friend.last_name %>    
      </div>
      <div class="col-sm-6">
        <%= link_to "View Profile" %>      
      </div>
    </div>
  </div>
</div>
