<div class ="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <%= user.username %>  
        </div>
        <div class="col-sm-6" id="add-friend-<%=user.id%>">
          <%= link_to "Add Friend", friendships_path(friend_id: user.id),method: :post %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <%= user.first_name %>  <%= user.last_name %>
        </div>
        <div class="col-sm-6">
          <%= user.city%>
        </div>
      </div> 
    </div>
  </div>
</div>