<div class ="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <%= req_friends.user.username %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Accept", friendship_path(req_friends), method: :put %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Decline" %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <%= req_friends.user.first_name %> <%= req_friends.user.last_name %>
        </div>
        <div class="col-sm-3">
          <%= req_friends.user.age %> 
        </div>
        <div class="col-sm-3">
          <%= req_friends.user.city %>
        </div>
      </div>
    </div>
  </div>
</div>