<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-brand">
        <h2>SocialMedia App</h2>
      </div>
      <ul class="justify-content-center"  style="display: inline-block;">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <h4><%= current_user.username%></h4>
          <button><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row" style="background-color: lightblue">
    <h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
  </div>
  <br>
  <div class="row" style="background-color: lightgreen">
    <br>
    <div class = "col-sm-6">
      <h4>
        Pending Requests!
      </h4>
    </div>
    <div class="col-sm-6">
      <h4>
        Make New Friends!
      </h4>
      <br>
    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-6">
      <% @pending.each do |req| %>
        <%= render 'friendships/pending', req_friends: req %>
      <% end %>
    </div>
    
    <div class="col-sm-6">
      <% @users.each do |user| %>
        <%= render 'friendships/list', user: user %>
      <% end %>
    </div>
  </div>
</div>
