<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email..." %>
  <%= f.password_field :password, autocomplete: "current-password",placeholder: "password..." %>
  <%= f.submit "Log in" %>
<% end %>
<%= render "devise/shared/links" %>
