<div id = "postform">
  <%= form_with(model: post, remote: true, method: :post) do |form| %>
    <div class="form-group">
      <%= form.label :caption,"Write post"%>
      <%= form.text_field :caption,class: "formtextfield",placeholder: "type here...",required: true %> 
      <br>
    </div>
    <div class ="form-group" required>
      <%= form.radio_button :post_mode,'0',class: "formbutton"%> Public
      <%= form.radio_button :post_mode,'-1',class: "formbutton"%> Private
      <%= form.radio_button :post_mode,'1',class: "formbutton"%> Friends
    </div>
    <div class="form-group">
      <%= form.label :caption,"Attach Photo"%>
      <%= form.file_field :file%>
    </div>
    <br>
    <div class="actions">
      <%= form.submit "Post"%>
    </div>
  <% end %>
</div>