<div class ="panel panel-info" id="post_<%= post.id%>">
  <div class="panel-heading">
    <%= render '/likes/like', post: post %>
  </div>  
  <div class="panel-body">
    <h2 style="color: green">
      <%= post.caption %>
      <% if post.file.attached? %>
        <%= image_tag post.file %>
      <% end %>
    </h2>
    <div id="comment_<%= post.id%>" class="collapse" style="background-color: lightgray">
      <%= render '/comments/form', post: post %>

      <div class="displaycomments<%= post.id%>">
        <% post.comments.each do |comment| %>
          <% id = comment.user_id ; username = User.find(id).username %> <%= username %>
          <%= render '/comments/comment',comment:comment,post: post %>
        <% end %>
      </div>  
    </div>
  </div>
</div >