<%= form_with scope: :comment,url: post_comments_path(@post), method: :post,local:true do |form| %>
  <div class="actions">
    <%= form.text_field :comment %> 
  </div>
<% end %>

<table>
  <tr>
    <th>Comment</th>
  </tr>
  <% @post.comments.each do |t| %>
    <tr>
      <td><%= t.comment%></td>
      <td><%= link_to "like", comment_like_index_path(t), method: :post %></td>
      <td><%= link_to "delete", post_comment_path(@post,t), method: :delete %></td>
    </tr>
  <% end %>
</table>


<button><%= link_to 'Back', posts_path %></button>
